<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nordic Rose</title>
    <link rel="stylesheet" href="/assets/scss/style.css">
</head>

<body>
    <nav>
        <img src="/assets/img/logo.svg" alt="" id="logo">
        <ul>
            <li id="active"><a href="/">ALL</a></li>
            <li><a href="/add">NEW ARTICLE</a></li>
        </ul>
    </nav>

    <main>
        <section id="hero">

            <img src=<%=`../../assets/img${results[0].url}` %> alt="">
            <article>
                <h1>
                    <%= results[0].title %>
                </h1>
            </article>
        </section>

        <section id="allArticles">
            <h2>
                All articles
            </h2>
            <section class="grid2">
                <% results.forEach(elt=> { %>
                    <% if (elt.id!=0) { %>
                        <div>
                            <% if (elt.id<=12) { %>
                                <img src=<%=`../../assets/img${elt.url}` %> alt="">
                                <% } else { %>
                                    <img src=<%=`${elt.url}` %> alt="">
                                    <% } %>

                                        <article>
                                            <p class="IndexTitle">
                                                <%= elt.title %>
                                            </p>
                                        </article>
                                        <% } %>
                        </div>
                        <% }) %>

            </section>
        </section>
    </main>

    <%- include ("../partials/footer.ejs") %>
        <!-- partial = Stück, Teil -->
</body>

</html>